nav {
    grid-row: 2;

    text-align: center;
    line-height: 48px;
    font-size: 1.4em;
    font-family: Kanit, sans-serif;

    background: rgba(204, 204, 204, .2);
    /*border: 1px solid;*/
}

nav.skills {
    grid-column: 2 / span 3;
}

nav.info {
    grid-column: 6 / span 2;
    min-width: 180px;
}

nav.spec {
    grid-column: 9 / span 3;
}

nav.selected {
    transform: scale(1.3);
    background: rgba(204, 204, 204, 1);
}