nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

    margin-top: 100px;

    width: 100%;

    border: 1px solid;
}

nav > li {
    display: block;

    height: 50px;

    background: rgba(204, 204, 204, 0.5);
}