* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    background-color: rgb(0, 0, 0);
    max-width: 95%;
    margin: 60px 40px;
    position: relative;
    height: 80%;
    border-radius: 15px;
    opacity: 0.8;
    user-select: none;
    overflow: hidden;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 
    inset 0 0 3px rgba(255, 255, 255, 0.1);

}

.pointer {
    position: absolute;
    height: 100%;
    width: 70px;
    font-size: 5em;
    color: white;

    background-color: black;
    border: none;
    border-radius: 15px;
    opacity: 0.5;

    transition: opacity .1s ease-in-out;
}

.pointer:hover {
    opacity: 1;
}

.pointer:active {
    font-size: 5.5em;
}

.container .pointer.right-pointer {
    right: 0;
    top: 0;
}

.photo-space {
    background-image: url(../photos/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translate();
    max-width: 80%;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 80px;
    right: 80px;
    transition: background-image .5s ease-in-out;
}