@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    /*opacity: 0;*/
    transition: opacity 1s;
}

header {
    height: 80px;

    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: rgb(201, 0, 0);
}

nav {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
nav li {
    list-style: none;
    line-height: 80px;
    font-size: 2em;
    color: white;
    transition: font-size .2s;
}

nav li.selected {
    border-radius: 15px 15px 0 0;
    background-color: white;
    color: black;
}